<% @postgres.errors.to_hash(true).each do |attr, errors| %>
  <%= render "application/notification", message: errors.join(". ") %>
<% end %>
<h1 class="title"><%= @postgres.service %></h1>

<main class="">
  <div class="mb-2">
    <%= render "links", postgres: @postgres %>
  </div>
  <div class="mb-2">
    <%= link_to "Destroy", dokku_postgre_path(@postgres.service), class: "link", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </div>

  <%= simple_format @postgres.info %>
</main>
