<%= form_with model: ssh_key, url: dokku_ssh_keys_path, method: :post do |f| %>
  <% if ssh_key.errors.has_key?(:base) %>
    <p class="mb-1">
      <%= ssh_key.errors[:base].join(', ') %>
    </p>
  <% end %>

  <div class="flex flex-col">
    <%= f.text_field :name, placeholder: "SSH Key name", class: "mb-2" %>
    <%= f.text_area :public_key, placeholder: "Public key" %>
    <p class="text-sm text-gray-500">You can generate a new SSH key with <code>ssh-keygen</code> and copy the contents of <code>~/.ssh/id_rsa.pub</code> to this field.</p>
  </div>

  <%= f.submit "Create", class: "mt-1 block link" %>
<% end %>
