<h1 class="text-xl mb-2"><%= @app.name %></h1>

<main class="">
  <div class="mb-2">
    <%= link_to "See logs", dokku_app_app_logs_path(@app.name), class: "link" %>
  </div>

  <div class="mb-2" data-controller="clipboard" data-clipboard-success-content="Copied!">
    <p>Configure the deployment git remote for your app:</p>
    <input type="hidden" value="git remote add deploy <%= @app.git_remote_name %>" data-clipboard-target="source">
    <code class="block">git remote add deploy <%= @app.git_remote_name %></code>
    <button data-action="clipboard#copy" data-clipboard-target="button" class="link">Copy to clipboard</button>
  </div>

  <%= simple_format @app.report %>
</main>
