<%= turbo_frame_tag "config" do %>
  <%= form_with url: dokku_app_app_configs_path(@app.name), scope: :config, method: :patch do |form| %>
    <%= form.submit "Save Environment variables", class: "link" %>
    <%= link_to "Hide", dokku_app_path(id: @app.name), class: "link text-gray-400", data: { turbo_frame: :_top } %>

    <div class="bg-gray-50 p-2">
      <% @config.each.with_index(1) do |(key, value), i| %>
        <div class="flex flex-col mt-2">
          <%= form.hidden_field "[#{i}][name]", value: key %>
          <%= form.label "entry[#{i}][value]", key, class: "text-gray-400 text-xs" %>
          <%= form.text_field "[#{i}][value]", value: value %>
          <%= form.label "[#{i}][delete]", class: "text-gray-400 text-xs flex flex-row" do %>
            <%= form.check_box "[#{i}][delete]", class: "mt-1" %>
            <span class="mt-1">
              <span class="h-100 my-auto ml-1">Delete?</span>
            </span>
          <% end %>
        </div>
      <% end %>

      <div class="flex flex-col mt-2">
        <%= form.label "[0][name]", "Add a new config", class: "text-gray-400 text-xs" %>
        <%= form.text_field "[0][name]", placeholder: "Name", class: "mb-1" %>
        <%= form.text_field "[0][value]", placeholder: "Value" %>
        <%= form.hidden_field "[0][delete]", value: 0 %>
      </div>
    </div>
  <% end %>
<% end %>
