<%= turbo_frame_tag "config" do %>
  <%= form_with url: dokku_app_app_configs_path(@app.name), scope: :config, method: :patch do |form| %>
    <%= form.submit "Save Environment variables", class: "link" %>
    <%= link_to "Hide", dokku_app_path(id: @app.name), class: "link text-gray-400", data: { turbo_frame: :_top } %>

    <div class="bg-gray-50 p-2">
      <% @config.each do |key, value| %>
        <div class="flex flex-col mt-2">
          <%= form.label key, key, class: "text-gray-400 text-xs" %>
          <%= form.text_field key, value: value %>
        </div>
      <% end %>

      <div class="flex flex-col mt-2">
        <%= form.label :new_name, "Add a new config", class: "text-gray-400 text-xs" %>
        <%= form.text_field :new_name, placeholder: "Name" %>
        <%= form.text_field :new_value, placeholder: "Value" %>
      </div>
    </div>
  <% end %>
<% end %>
